.home-title {
    font-size: 2em;
    margin-top: 10px;
    font-family: 'Ariel', 'Helvetica', sans-serif;
}

header {
    display: grid;
    grid-template-columns: 150px auto;
}

nav {
    display: flex;
    justify-content: space-around;
}

#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
}
.hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
}

#content {
    max-width: 1600px;
    margin: 0 auto;
  }
nav a {
    text-align: center;
    padding: 35px;
}



#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
#hero-msg h4 {
    color: white;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
    box-sizing: border-box;
}

#background {
    height: 725px;
}

body {
    background-color: #fcfbfb; 
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Tahoma', 'helvetica', 'sans-serif';
}

header {
    background-color:rgba(20,30,13, .7);
    color: #d9c2a3;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
    text-decoration: none;
}

.book, .join {
    background-color:green;
    color:#4F738D;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
}

.book:hover, .join:hover {
    background-color: #D4AC0D;
    color:#4F738D;
}

#background{
    background-color: #fcfbfb; 
    color: #4F738D;
}

.msg{
    background-color: #fcfbfb; 
    color:#4F738D;
}

footer{
    background-color: #fcfbfb; 
    color:#d9c2a3;
    padding: 25px 50px;
    margin-top: 50px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
footer a{
    text-decoration: none;
}
footer p {
    font-size: 1.2em;
}   
footer p a:hover{
    text-decoration: underline;
}

.book, .join {
    font-size: 18px;
    border-radius: 5px;
}

.msg p{
    font-size: .8em;
    padding-bottom: 15px;
}
.msg {
    background-color: #6f7364;
    line-height: 1.5em;
    padding: 35px;
  }
h2 {
    margin: 0;
}

#logo_link{
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}

footer .social img{
    padding-top: 15px;
}

.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: black 10px;
}
